*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
:root{
    --purple1: #2B0333;
    --purple2: #0E0019;

}
body{
    background-image: linear-gradient(to left, #2B0333, #59024B);
}
.principal-title{
    font-family: "Lato", sans-serif;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;

    width: 70%;
    margin: auto;
    margin-top: 2%;
    font-style: italic;
    font-weight: 900;
    
    
}
.movie-icon{
    margin-left: 30px;
}
.search-container{
    background-color: var(--purple1);
    width: 550px;
    border-radius: 10px;
    color: #979393;
    padding: 10px;
    margin: 65px;
    display: flex;
    justify-content: center;
    font-size: 28px;
}
.search-input{
    background: transparent;
    border: none;
    width: 90%;
    outline: none;
    color: white;
    margin-left: 15px;
    font-size: 28px;
}
.search-icon{
    margin-top: 3px;
    cursor: pointer;
    font-size: 30px;
    color: #666363;
}
.card{
    background-color: #040333;
    
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 20px;
    height: 750px;

    
}
#cards{
    display: flex;
    flex-wrap: wrap;
}
.click-display{
    position: absolute;
    height: 750px;
    width: 400px;
    margin-top: -15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
    
}
.popularity{
    display: flex;
    margin-left: 85%;
    height: fit-content;
    margin-top: 0.5%;

    color: white;
    font-size: 22px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    border: 5px solid;
    border-radius: 50%;
    padding: 10px;
    padding-top: 12px;
    border-color: #038eb1;
}
.click-display:hover{
    background: rgba(0, 0, 0, 0.6);
    color: #fefefe;
    
}
.poster{
    width: 320px;
}
.submit{
    display: none;
}


.container-overview{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    display: none;


}
.overview-content{
    background-color: #969494;
    margin: 60px;
    padding: 40px;
    border-radius: 10px;
    width: 1200px;
    height: 590px;
}
.overview-display{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
    flex-direction: column;
}
.overview{
    color: white;
    font-weight: 400;
    width: auto;
    line-height: 32px;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin: 30px 0;
    text-indent: 45px;


}
.header-overview{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.fa-times{
    font-size: 48px;
    cursor: pointer;
    color: grey;
}
.overview-img{
    width: 45%;
    margin: 20px;
    max-height: 350px;
}
.overview-title{
    font-size: 42px;
    margin: auto;
    font-weight: 900;
    color: white;
    

}
.movie-title{
    color: #fefefe;
    font-size: 36px;
    margin-bottom: 30px;
    font-weight: 700;
    margin-top: 15px;
}
.year{
    color: #979393;
    margin-top: auto;
    font-size: 24px;
}
/* .avaliation{
    color: white;
    font-size: 40px;
    border: 10px solid;
    border-radius: 50%;
    padding: 10%;
} */
.card-header{
    display: flex;
    width: 200px;
    height: 100%;
}
.submit-btn{
    background: none;
    border: none;
}
.fa-trash{
    position: absolute;
    font-size: 30px;
    margin-top: -670px;
    margin-left: -495px;
    color: transparent;
    transition: all .3s ease-in-out;
    
    
}
.click-display:hover .fa-trash{
    color: #666363;
    transform: translateX(100px);
}
.click-display > .fa-trash:hover{
    color: #6663637e;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
.menu-item{
    font-size: 23px;
    
}
.navigation{
    margin-top: 28px;
    border-bottom: groove 2px;
    padding-bottom: 30px;
    width: 89%;
    margin: 38px auto;
}
.link-menu{
    text-decoration: none;
    color: #d6c8c8;
    transition: all .1s ease-in-out;
}
.link-menu:hover{
    color: white;
    font-weight: 900;
}
.back-icon{
    position: absolute;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 40px;
    left: 55px;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 50%;
    border: 4px solid white;
    padding: 5px;
}
.fa-star{
    display: flex;
    font-size: 38px;
    margin-left: 10px;
    color: #a88701;
    
}
.starlabel{
    display: block;
    color: dimgrey;
    font-size: 20px;
    margin-top: 13px;
    margin-left: -680px;
    font-style: italic;
    font-weight: 900;
    transition: all .3s ease-in-out;
    margin-right: 12px;
}
.fas:hover .starlabel{

    transform: translateX(700px);
}
.video{
    width: 680px;
}